<section class="pano-manager">
    <div class="header">
        <div class="sort-by left">
            <h2>Sort by:</h2> 
            <span class="sort-btn az fa fa-sort-alpha-asc selected "></span>
            <span class="sort-btn za fa fa-sort-alpha-desc"></span>
            <span class="sort-btn upload-date">Upload date</span>
            <span class="sort-btn fl fa fa-sort-amount-asc selected "></span>
            <span class="sort-btn lf fa fa-sort-amount-desc"></span>
        </div>

        <div class="search-pano left">
            <form>
                <label>Search:</label> 
                <input type="text" placeholder="File Name" id="pano-search">
                <span class="clear-btn sort-btn">Clear</span>
            </form>
        </div>
    </div>

    <div class="scrollwrapper">
        <div class="pano-list">
            <ul>
                <li>
                    <img class="pano-img" src="" alt="Pano Name">
                    <div class="pano-data">
                        <div class="pano-entry">File Name: <span>panorama_01.tiff</span></div>
                        <div class="pano-entry">Multiresolution</div>
                        <div class="pano-date">Upload date: 12/31/2015 - 10:00pm</div>
                    </div>
                    <a class="modal-bt blue">Select</a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        
    </footer>
</section>
