<section class="pano-manager">
    <div class="header">
        <div class="sort-by left">
            <h2>Sort by:</h2> 
            <span class="sort-btn az fa fa-sort-alpha-asc selected "></span>
            <span class="sort-btn za fa fa-sort-alpha-desc"></span>
            <span class="sort-btn upload-date">Upload date</span>
            <span class="sort-btn fl fa fa-sort-amount-asc selected "></span>
            <span class="sort-btn lf fa fa-sort-amount-desc"></span>
        </div>

        <div class="search-pano left">
            <form>
                <label>Search:</label> 
                <input type="text" placeholder="File Name" id="pano-search">
                <span class="clear-btn sort-btn">Clear</span>
            </form>
        </div>
    </div>

    <div class="pano-list">
        <div class="scrollwrapper">        
            <ul>
                <!--<li>
                    <img class="pano-img" src="http://cdn.dev.spinattic.com/panos/226/pano.tiles/thumb200x100.jpg" alt="Pano Name">
                    <div class="pano-data">
                        <div class="pano-entry">File Name: <span>panorama_01.tiff</span></div>
                        <div class="pano-entry">Multiresolution</div>
                        <div class="pano-date">Upload date: 12/31/2015 - 10:00pm</div>
                    </div>
                    <a class="modal-bt blue">Select</a>
                </li>

                <li>
                    <img class="pano-img" src="http://cdn.dev.spinattic.com/panos/226/pano.tiles/thumb200x100.jpg" alt="Pano Name">
                    <div class="pano-data">
                        <div class="pano-entry">File Name: <span>panorama_02.tiff</span></div>
                        <div class="pano-entry">Tile size: <span>2500 x 2500</span></div>
                        <div class="pano-date">Upload date: <span>12/31/2015 - 10:00pm</span></div>
                    </div>
                    <a class="modal-bt yellow selected">Selected</a>
                </li>

                <li>
                    <img class="pano-img" src="http://cdn.dev.spinattic.com/panos/226/pano.tiles/thumb200x100.jpg" alt="Pano Name">
                    <div class="pano-data">
                        <div class="pano-entry">File Name: <span>panorama_02.tiff</span></div>
                        <div class="pano-entry">Tile size: <span>2500 x 2500</span></div>
                        <div class="pano-date">Upload date: <span>12/31/2015 - 10:00pm</span></div>
                    </div>
                    <a class="modal-bt yellow selected">Selected</a>
                </li>-->
            </ul>
        </div>
    </div>

    <footer>
        <ul class="selected-panos">
            <!--<li>
                <img src="http://cdn.dev.spinattic.com/panos/226/pano.tiles/thumb200x100.jpg" alt="">
                <span class="remove fa fa-close"></span>
            </li>
            <li>
                <img src="http://cdn.dev.spinattic.com/panos/226/pano.tiles/thumb200x100.jpg" alt="">
                <span class="remove fa fa-close"></span>
            </li>-->
        </ul>

        <div class="btns">
            <span class="uploader-btn red">Cancel</span>
            <span class="uploader-btn green">Add Panos to tour</span>
        </div>
    </footer>
</section>
