<section class="hotspot-style-editor">
    <div id="graphic-hotspot" class="editor-img"></div>

    <div class="hotspotStyleContent" >
        <div class="hotsPotStyleTabs">
            <nav class="menuTabs">
                <ul>
                    <li class="arrow selected">Arrow</li>
                    <li class="photo">Photo</li>
                    <li class="info">Info</li>
                    <li class="video">Video</li>
                    <li class="link">Link</li>
                </ul>
            </nav>

            <div class="tabContent">
                <div id="arrow">
                    <div class="addStyle"></div>
                </div>

                <div id="photo" class="none">
                    <div class="addStyle"></div>
                </div>

                <div id="info" class="none">
                    <div class="addStyle"></div>
                </div>

                <div id="video" class="none">
                    <div class="addStyle"></div>
                </div>

                <div id="link" class="none">
                    <div class="addStyle"></div>
                </div>
            </div>
        </div>

        <div class="hotsPotStyleSelected">
            <h3 class="selectedSet">Selected: <span>Arrow UP</span></h3>
            <div class="data-group">
                <label for="width">Width:</label>
                <input type="text" name="width">

                <label for="width">Height:</label>
                <input type="text" name="height">

                <label for="width">X:</label>
                <input type="text" name="x">

                <label for="width">Y:</label>
                <input type="text" name="y">
            </div>

            <a href="" id="addStyle" class="modal-bt blue"><i class="fa fa-plus"></i>Add Style</a>
            <a href="" id="removeStyle" class="modal-bt red"><i class="fa fa-trash"></i>Remove Style</a>
        </div>
    </div>
</section>
