<div class="hotspotinfo">
    <div class="hotspot-column">
        <div class="row">
            <label for="style">Style:</label>
                <div title="Style" class="dropdown style">
                <h2><div class="default"></div> <span class="fa fa-caret-down fa-lg right"></span></h2>
                <ul class="styles-list">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <input name="" id="" class="infotitle" type="text" placeholder="title..." value="<%=allData._infotitle%>">
        <textarea name="" id="" cols="30" rows="10" placeholder="text..." class="infotext"><%=allData._infotext%></textarea>
    </div>
</div>
<div class="hotspotsFooter">
    <div class="testHotspot"><span class="fa fa-check-circle "></span>Test Hotspot</div>
    <div class="removeHotspot"><span class="fa fa-trash"></span>Remove Hotspot</div>
</div>
