<div class="hotspotphoto">
    <div class="hotspot-column">
        <div class="row">
            <label for="style">Style:</label>
            <div title="Style" class="dropdown style">
                <h2><div class="default"></div> <span class="fa fa-caret-down fa-lg right"></span></h2>
                <ul class="styles-list">
                </ul>
            </div>
        </div>
    </div>

    <div id="pic-hotspot<%=integer%>" style="clear:both"></div>
    <input type="text" placeholder="photo tooltip" id="photoTooltip" name="photoTooltip" value="<%=allData._tooltip%>">

</div>

<div class="hotspotsFooter">
    <div class="testHotspot"><span class="fa fa-check-circle "></span>Test Hotspot</div>
    <div class="removeHotspot"><span class="fa fa-trash"></span>Remove Hotspot</div>
</div>
