<div class="hotspotphoto">
	<label for="style">Style:</label>
		<div title="Style" class="dropdown style">
			<h2><div class="default"></div> <span class="fa fa-caret-down fa-lg right"></span></h2>
			<ul class="styles-list">
			</ul>
		</div>
	<!--<figure>
		<img src="http://lorempixel.com/190/100/">
		<figcaption>Change Photo</figcaption>
	</figure>-->
	<input type="text" placeholder="photo tooltip" id="photoTooltip" name="photoTooltip">

</div>
<div class="removeHotspot"><span class="fa fa-trash"></span>Remove Hotspot</div>
