<section class="hotspot-style-editor">
    <h3 class="bold">Graphic source: </h3>
    <div id="graphic-hotspot" class="editor-img"></div>

    <div class="hotspotStyleContent" >
        <div class="hotsPotStyleTabs">
            <nav class="menuTabs">
                <ul>
                    <li class="arrowTab modal-bt selected" data-content="arrowTab">Arrow</li>
                    <li class="photoTab modal-bt" data-content="photoTab">Photo</li>
                    <li class="infoTab modal-bt" data-content="infoTab">Info</li>
                    <li class="videoTab modal-bt" data-content="videoTab">Video</li>
                    <li class="linkTab modal-bt" data-content="linkTab">Link</li>
                </ul>
            </nav>

            <div class="tabContent">
                <div id="arrowTab">
                    <div class="add icons-wrapper">
                        <div class="addStyle"><span class="fa fa-plus"></span></div>
                        <h4 class="bold">ADD</h4>
                    </div>

                    <div class="icons none">
                        <div class="up icons-wrapper">
                            <div class="addStyle"><img src="" alt=""></div>
                            <h4 class="bold">UP</h4>
                        </div>

                        <div class="over icons-wrapper">
                            <div class="addStyle"><img src="" alt=""></div>
                            <h4 class="bold">OVER</h4>
                        </div>

                        <div class="down icons-wrapper">
                            <div class="addStyle"><img src="" alt=""></div>
                            <h4 class="bold">DOWN</h4>
                        </div>
                    </div>
                </div>

                <div id="photoTab" class="none">
                photo
                    <div class="add icons-wrapper">
                        <div class="addStyle"><span class="fa fa-plus"></span></div>
                        <h4 class="bold">ADD</h4>
                    </div>

                    <div class="icons none"></div>
                </div>

                <div id="infoTab" class="none">
                info
                    <div class="add icons-wrapper">
                        <div class="addStyle"><span class="fa fa-plus"></span></div>
                        <h4 class="bold">ADD</h4>
                    </div>

                    <div class="icons none"></div>
                </div>

                <div id="videoTab" class="none">
                video
                    <div class="add icons-wrapper">
                        <div class="addStyle"><span class="fa fa-plus"></span></div>
                        <h4 class="bold">ADD</h4>
                    </div>

                    <div class="icons none"></div>
                </div>

                <div id="linkTab" class="none">
                link
                    <div class="add icons-wrapper">
                        <div class="addStyle"><span class="fa fa-plus"></span></div>
                        <h4 class="bold">ADD</h4>
                    </div>

                    <div class="icons none"></div>
                </div>
            </div>
        </div>

        <div class="hotsPotStyleSelected">
            <h3 class="selectedSet">Selected: <span>Arrow UP</span></h3>
            <div class="data-group">
                <label for="width">Width:</label>
                <input type="text" name="width">

                <label for="width">Height:</label>
                <input type="text" name="height">

                <label for="width">X:</label>
                <input type="text" name="x">

                <label for="width">Y:</label>
                <input type="text" name="y">
            </div>

            <a href="" id="addStyle" class="modal-bt blue"><i class="fa fa-plus"></i>Add Style</a>
            <a href="" id="removeStyle" class="modal-bt red"><i class="fa fa-trash"></i>Remove Style</a>
        </div>
    </div>
</section>
