<div class="hotspotinfo">
	<label for="style">Style:</label>
		<div title="Style" class="dropdown style">
			<h2><div class="default"></div> <span class="fa fa-caret-down fa-lg right"></span></h2>
			<ul class="styles-list">
			</ul>
		</div>
		
	<input name="" id="" class="infotitle" type="text" placeholder="info title...">
	<textarea name="" id="" cols="30" rows="10" placeholder="info text... " class="infotext"></textarea>
</div>
<div class="removeHotspot"><span class="fa fa-trash"></span>Remove Hotspot</div>
