<div class="loading-bar-skill-editor">
    <div class="scrollwrapper">  
        <div class="inner-modal-wrapper">
            <div class="editor-group-2col">
                <div class="line-group">
                    <label for="panos-format">Position:</label>
                    <div title="panos-format" id="panos-format" class="dropdown dd-upload right-el">
                        <h2><span class="title">Top</span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                        <ul>
                            <li data-value="op1"><span>Top</span></li>
                            <li data-value="op2"><span>Center</span></li>
                            <li data-value="op3"><span>Bottom</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layer-top">
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="logo-skill-x">Offset:</label>
                        <input type="number" id="logo-skill-x" value="<%=tourSkill.layer._y %>" >
                    </div>
                        
                    <div class="line-group">
                        <label for="logo-skill-x">Width:</label>
                        <input type="number" id="logo-skill-y" value="<%=tourSkill.layer._width%>" >
                    </div>
                        
                    <div class="line-group">
                        <label for="logo-skill-zorder">Height:</label>
                        <input type="number" id="logo-skill-zorder" value="<%=tourSkill.layer._height%>" >
                    </div>
                </div>

                <h2 class="title-banner">Background</h2>
                
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-back-bgcolor">Color:</label>
                        <input type="text" id="loading-bar-back-bgcolor" value="<%=tourSkill.layer._bgcolor.replace('0x','')%>" >
                    </div>
                    <div class="line-group">
                        <label for="logo-skill-zorder">Alpha:</label>
                        <input type="number" id="logo-skill-zorder" value="<%=tourSkill.layer._bgalpha%>" >
                    </div>
                </div>

                <h2 class="title-banner">Bar:</h2>
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-bar-bgcolor">Color: (aca va color picker)</label>
                        <input type="text" id="loading-bar-bar-bgcolor" value="<%=tourSkill.layer.layer.layer._bgcolor.replace('0x','')%>" >
                    </div>
                    <div class="line-group">
                        <label for="logo-skill-zorder">Alpha:</label>
                        <input type="number" id="logo-skill-zorder" value="<%=tourSkill.layer.layer.layer._bgalpha%>" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>