<div class="simple-control-btns-skill-editor">
    <div class="scrollwrapper"> 
        <div class="skill-tabs">
            <nav class="menuTabs">
                <ul>
                    <li class="generalSettingsTab selected" data-content="generalSettingsContent">General Settings</li>
                    <li class="stylingTab" data-content="stylingContent">Styling</li>
                    <li class="directionTab" data-content="directionContent">Direction Arrows</li>
                </ul>                
            </nav>

            <div class="tabContent">
                <section id="generalSettingsContent" class="none">
                    generalSettingsContent
                </section>

                <section id="stylingContent" class="none">
                    stylingContent
                </section>

                <section id="directionContent" class="none">
                    directionContent
                </section>
            </div>
        </div>
    </div>

    <footer>
    </footer>
</div>