<div class="simple-control-btns-skill-editor">
    <div class="scrollwrapper"> 
        <div class="skill-tabs">
            <nav class="menuTabs">
                <ul>
                    <li class="generalSettingsTab selected" data-content="generalSettingsContent">General Settings</li>
                    <li class="stylingTab" data-content="stylingContent">Styling</li>
                    <li class="directionTab" data-content="directionContent">Direction Arrows</li>
                </ul>                
            </nav>

            <div class="tabContent">
                <section id="generalSettingsContent" >
                    <div class="column1 left">
                        <div class="editor-group-2col">
                            <div class="line-group">
                                <label for="scbLayout">Layout</label>
                                <div id="scbLayout" class="dropdown dd-upload right-el" data-selected="<%=tourSkill.skill_controls_settings._layout%>">
                                    <h2><span class="title"><%=layoutLabel%></span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                                    <ul data-param="layout">
                                        <li data-value="sliced">Sliced</li> 
                                        <li data-value="unified">Unified</li> 
                                    </ul>
                                </div>
                            </div>

                            <div class="line-group">
                                <label for="scbPosition">Position</label>
                                <div id="scbPosition" class="dropdown dd-upload right-el" data-selected="<%=tourSkill.skill_controls_settings._position%>">
                                    <h2><span class="title"><%=positionlabel%></span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                                    <ul data-param="position">
                                        <li data-value="topright">Top-Right</li> 
                                        <li data-value="topleft">Top-Left</li> 
                                        <li data-value="top">Top</li> 
                                        <li data-value="right">Right</li> 
                                        <li data-value="left">Left</li> 
                                        <li data-value="bottom">Bottom</li> 
                                        <li data-value="bottomright">Bottom-Right</li> 
                                        <li data-value="bottomleft">Bottom-Left</li> 
                                    </ul>
                                </div>
                            </div>

                            <div class="line-group">
                                <label for="scbOrientation">Orientation</label>
                                <div id="scbOrientation" class="dropdown dd-upload right-el" data-selected="<%=tourSkill.skill_controls_settings._orientation%>">
                                    <h2><span class="title"><%=orientationLabel%></span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                                    <ul data-param="orientation">
                                        <li data-value="vertical">Vertical</li> 
                                        <li data-value="horizontal">Horizontal</li> 
                                    </ul>
                                </div>
                            </div>

                            <div class="line-group">
                                <label for="scbXoffset">X offset</label>
                                <input type="number" min="0" id="scbXoffset" value="<%=tourSkill.skill_controls_settings._x_offset%>">
                            </div>

                            <div class="line-group">
                                <label for="scbYoffset">Y offset</label>
                                <input type="number" min="0" id="scbYoffset" value="<%=tourSkill.skill_controls_settings._y_offset%>">
                            </div>
                        </div>
                    </div>
                    <div class="column2 left">
                        <h4>Order of buttons</h4>
                        <div class="scbOrder">
                            <div class="btnContainer">
                                <div class="skills-add-btn" id="<%=tourSkill.skill_controls_settings._order_1%>">
                                    <div class="icon-wrap" style="background-image:url(<%=backimage%>)"></div>
                                    <div class="icon-wrap second" style="background-image:url(<%=backimage%>)"></div>
                                    <span class="sortArrows"></span>
                                    <span class="fa fa-trash"></span>
                                </div>
                            </div>

                            <div class="btnContainer">
                                <div class="skills-add-btn" id="<%=tourSkill.skill_controls_settings._order_2%>">
                                    <div class="icon-wrap" style="background-image:url(<%=backimage%>)"></div>
                                    <div class="icon-wrap second" style="background-image:url(<%=backimage%>)"></div>
                                    <span class="sortArrows"></span>
                                    <span class="fa fa-trash"></span>
                                </div>
                            </div>

                            <div class="btnContainer">
                                <div class="skills-add-btn" id="<%=tourSkill.skill_controls_settings._order_3%>">
                                     <div class="icon-wrap" style="background-image:url(<%=backimage%>)"></div>
                                     <div class="icon-wrap second" style="background-image:url(<%=backimage%>)"></div>
                                    <span class="sortArrows"></span>
                                    <span class="fa fa-trash"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section id="stylingContent" class="none">
                    <div class="contentBlock">
                        <div class="editor-group-2col">
                            <div class="line-group">
                                <label for="iconStyles">Icons styles</label>
                                <div id="iconStyles" class="dropdown dd-upload right-el" data-selected="<%=tourSkill.skill_controls_settings._icons_styles%>">
                                    <h2>
                                        <img src="<%=backimage%>">
                                        <span class="fa fa-caret-down fa-lg right"></span>
                                    </h2>
                                    <ul data-param="icons_styles">
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_1_w.png"><img src="../player/skills/simple_controls/icons_1_w.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_1_b.png"><img src="../player/skills/simple_controls/icons_1_b.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_2_w.png"><img src="../player/skills/simple_controls/icons_2_w.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_2_b.png"><img src="../player/skills/simple_controls/icons_2_b.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_3_w.png"><img src="../player/skills/simple_controls/icons_3_w.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_3_b.png"><img src="../player/skills/simple_controls/icons_3_b.png" /></li>
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_4_w.png"><img src="../player/skills/simple_controls/icons_4_w.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_4_b.png"><img src="../player/skills/simple_controls/icons_4_b.png" /></li>
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_5_w.png"><img src="../player/skills/simple_controls/icons_5_w.png" /></li> 
                                        <li data-value="%SWFPATH%/skills/simple_controls/icons_5_b.png"><img src="../player/skills/simple_controls/icons_5_b.png" /></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contentBlock">
                        <div class="column3 left">
                            <div class="editor-group-2col">
                                <div class="line-group">
                                    <label for="bwidth">Buttons width</label>
                                    <input type="number" min="0" id="bwidth" value="<%=tourSkill.skill_controls_settings._width%>">
                                </div>
                                <div class="line-group">
                                    <label for="bheight">Buttons height</label>
                                    <input type="number" min="0" id="bheight" value="<%=tourSkill.skill_controls_settings._height%>">
                                </div>
                            </div>

                        </div>
                        <div class="column3 left">
                            <div class="editor-group-2col">
                                <div class="line-group">
                                    <label for="bmargin">Buttons margin</label>
                                    <input type="number" min="0" id="bmargin" value="<%=tourSkill.skill_controls_settings._buttons_margin%>">
                                </div>
                                <div class="line-group">
                                    <label for="rEdge">Rounded edges</label>
                                    <input type="number" min="0" id="rEdge" value="<%=tourSkill.skill_controls_settings._bgroundedge%>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contentBlock">
                        <div class="editor-group-2col">
                            <div class="line-group">
                                <label for="">Background color</label>
                                <div></div>
                            </div>
                            <div class="line-group">
                                <label for="btransparency">Background transparency</label>
                                <input type="number" min="0" max="1" id="btransparency" value="<%=tourSkill.skill_controls_settings._bgalpha%>">
                            </div>
                        </div>
                    </div>

                    <div class="contentBlock">
                        <div class="editor-group-2col">
                            <div class="line-group">
                                <label for="bwidth">Border width</label>
                                <input type="number" min="0" max="1" id="bwidth" value="<%=borderprop.width%>">
                            </div>
                            <div class="line-group">
                                <label for="">Border color</label>
                                <div></div>
                            </div>
                            <div class="line-group">
                                <label for="btransparency">Border transparency</label>
                                <input type="number" min="0" max="1" id="btransparency" value="<%=borderprop.transp%>">
                            </div>
                        </div>
                    </div>
                </section>

                <section id="directionContent" class="none">
                    <div class="editor-group-2col">
                        <div class="line-group">
                            <label for="">Enable direction arrows</label>
                            <div class="onoffswitch absoluteRight">
                                <input type="checkbox" name="sbs-onoffswitch1" class="onoffswitch-checkbox" id="sbs-onoffswitch1" <% if(tourSkill.skill_controls_settings._direction_arrows == "true"){ %>checked <%}%>>
                                <label class="onoffswitch-label" for="sbs-onoffswitch1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                </label>
                            </div>
                        </div>

                        <div class="line-group">
                            <label for="">Enable on mobiles</label>
                            <div class="onoffswitch absoluteRight">
                                <input type="checkbox" name="sbs-onoffswitch2" class="onoffswitch-checkbox" id="sbs-onoffswitch2" <% if(tourSkill.skill_controls_settings._direction_arrows_mobile == "true"){ %>checked <%}%>>
                                <label class="onoffswitch-label" for="sbs-onoffswitch2">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                </label>
                            </div>
                        </div>

                        <div class="line-group">
                            <label for="sbs-position">Position</label>
                            <div id="sbs-position-vertical" class="dropdown dd-upload right-el <%if(tourSkill.skill_controls_settings._orientation == 'horizontal'){%>none<%}%>" data-selected="<%=tourSkill.skill_controls_settings._arrows_position%>">
                                <h2>
                                    <%=arrowPos%>
                                    <span class="fa fa-caret-down fa-lg right"></span>
                                </h2>
                                <ul data-param="orientation">
                                    <li data-value="bottom">Bottom</li> 
                                    <li data-value="top">Top</li> 
                                </ul>
                            </div>
                            <div id="sbs-position-horizontal" class="dropdown dd-upload right-el <%if(tourSkill.skill_controls_settings._orientation == 'vertical'){%>none<%}%>" data-selected="<%=tourSkill.skill_controls_settings._arrows_position%>">
                                <h2>
                                    <%=arrowPos%>
                                    <span class="fa fa-caret-down fa-lg right"></span>
                                </h2>
                                <ul data-param="orientation">
                                    <li data-value="left">Left</li> 
                                    <li data-value="right">Right</li> 
                                </ul>
                            </div>
                        </div>

                        <div class="line-group">
                            <label for="sbs-xmargin">X margin</label>
                            <input type="number" min="0" id="sbs-xmargin" value="<%=tourSkill.skill_controls_settings._arrows_x_margin%>">
                        </div>
                        <div class="line-group">
                            <label for="sbs-ymargin">Y margin</label>
                            <input type="number" min="0" id="sbs-ymargin" value="<%=tourSkill.skill_controls_settings._arrows_y_margin%>">
                        </div>
                        <div class="line-group">
                            <label for="sbs-containerSize">Container size</label>
                            <input type="number" min="0" id="sbs-containerSize" value="<%=tourSkill.skill_controls_settings._arrows_container_size%>">
                        </div>
                        <div class="line-group">
                            <label for="sbs-containerRoundEdges">XContainer rounded edges</label>
                            <input type="number" min="0" id="sbs-containerRoundEdges" value="<%=tourSkill.skill_controls_settings._arrows_container_roundedge%>">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer>
    </footer>
</div>