<div class="simple-menu-skill-editor">    
        <div class="skill-tabs">
            <nav class="menuTabs">
                <ul>
                    <li class="generalSettingsTab selected" data-content="designContent">Design</li>
                    <li class="stylingTab" data-content="thumbsContent">Thumbs</li>
                    <li class="directionTab" data-content="sceneTitleContent">Scene title</li>
                </ul>                
            </nav>

            <div class="tabContent">
                
                    <section id="designContent" >
                        <div class="scrollwrapper"> 
                            <div class="modalSeparator">
                                <div class="line-group">
                                    <label for="alignPosSmSkill">Align</label>

                                    <div id="alignPosSmSkill" class="alignPosSmSkill">
                                        <span class="leftPos">left</span>
                                        <span class="middlePos">middle</span>
                                        <span class="rightPos">right</span>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="widthSmSkill">Width</label>

                                    <div>
                                        <input id="widthSmSkill" type="number" value="100">

                                        <div class="dropdown  dd-upload">
                                            <h2>
                                                <span class="title">%</span><span class="fa fa-caret-down fa-lg right"></span>
                                            </h2>
                                            <ul>
                                                <li data-value="%">%</li>
                                                <li data-value="Px">Px</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        

                            <div class="modalSeparator">
                                <div class="line-group">
                                    <label for="bkgColorSmSkill">Background Color</label>
                                    <div>
                                        <input type="" id="bkgColorSmSkill">
                                    </div>
                                </div>
                                <div class="line-group">
                                    <label for="bkgAlphaSmSkill">Background Alpha</label>
                                    <div>
                                        <input type="number" id="bkgAlphaSmSkill" value="0.6"> 
                                    </div>
                                </div>
                                <div class="line-group">
                                    <label>Background Border</label>

                                    <div>
                                        <div class="sup">
                                            <label class="sup" for="bkgWidthSmSkill">width</label><input type="number" id="bkgWidthSmSkill" value="1"> 
                                        </div>

                                        <div class="sup">
                                            <label class="sup" for="bkgBorderColorSmSkill">color</label><input type="number" id="bkgBorderColorSmSkill" value=""> 
                                        </div>

                                        <div class="sup">
                                            <label class="sup" for="bkgBorderAlphaSmSkill">alpha</label><input type="number" id="bkgBorderAlphaSmSkill" value="1">
                                        </div>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="roundEdgeSmSkill"></label>
                                    <div>
                                        <input type="number" id ="roundEdgeSmSkill" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="modalSeparator">
                                <div class="line-group">
                                    <label>Thumb border</label>

                                    <div>
                                        <div class="sup" >
                                            <label for="thumbWidthSmSkill">width</label><input type="number" id="thumbWidthSmSkill" value="5"> 
                                        </div>

                                        <div class="sup">
                                            <label class="sup" for="thumbColorSmSkill">color</label><input type="number" id="thumbColorSmSkill" value=""> 
                                        </div>

                                        <div class="sup">
                                            <label class="sup" for="thumbAlphaSmSkill">alpha</label><input type="number" id="thumbAlphaSmSkill" value="1">
                                        </div>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="thumbBorderPaddingSmSkill">Thumb border padding</label>
                                    
                                    <div>
                                        <input type="number" id ="thumbBorderPaddingSmSkill" value="2">
                                    </div>
                                </div>
                                <div class="line-group">
                                    <label for="thumbBorderEdgeSmSkill">Thumb border round edge</label>
                                    <div>
                                        <input type="number" id ="thumbBorderEdgeSmSkill" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="thumbsContent" class="none">
                        <div class="scrollwrapper"> 
                            section2
                        </div>
                    </section>

                    <section id="sceneTitleContent" class="none">
                        <div class="scrollwrapper"> 
                            section3
                        </div>
                    </section>
            </div>
        </div>

    <footer>
    </footer>
</div>