<div class="liveTourModal">
    <h2>Share your tour in your preferred social networks</h2>

    <ul class=" check-group">
        <div class="col-2 left-col">
            <li class="social-btn spinattic">
                <span class="fa icon-ok"></span>
                <div class="spinattic-share"></div>
            </li>

            <li class="social-btn facebook">
                <span class="fa "></span>
                <div class="facebook-share"></div>
            </li>
        </div>
        <div class="col-2 right-col">
            <li class="social-btn twitter">
                <span class="fa "></span>
                <div class="twitter-share"></div>
            </li>
            <li class="social-btn gplus">
                <span class="fa "></span>
                <div class="gplus-share"></div>
            </li>
        </div>
    </ul>
<footer>
    <span class="cancel uploader-btn red left">Not now</span>
    <span class="save uploader-btn green inlineBlock right">Share</span>
</footer>
</div>