<div class="loading-bar-skill-editor standard-loading">
    <div class="scrollwrapper">  
        <div class="inner-modal-wrapper">
            <div class="editor-group-2col">
                <div class="line-group">
                    <label for="chooseBarDD">Choose:</label>
                    <div title="chooseBarDD" id="chooseBarDD" class="dropdown dd-upload right-el">
                        <h2><span class="title">Bar</span> <span class="fa fa-caret-down fa-lg right"></span></h2>
                        <ul>
                            <li data-value="bar">Bar</li>
                            <li data-value="looping">Looping</li> 
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layer-top bar">
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="logo-skill-x">Offset:</label>
                        <input type="number" id="logo-skill-x" value="" >
                    </div>
                        
                    <div class="line-group">
                        <label for="logo-skill-x">Width:</label>
                        <input type="number" id="logo-skill-y" value="" >
                    </div>
                        
                    <div class="line-group">
                        <label for="logo-skill-zorder">Height:</label>
                        <input type="number" id="logo-skill-zorder" value="" >
                    </div>
                </div>

                <!--<h2 class="title-banner">Background</h2>-->
                
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-back-bgcolor">Background color:</label>
                        <input type="text" id="loading-bar-back-bgcolor" value="" >
                    </div>
                    <div class="line-group">
                        <label for="logo-skill-zorder">Background alpha:</label>
                        <input type="number" id="logo-skill-zorder" value="" >
                    </div>
                </div>

                <!--<h2 class="title-banner">Bar:</h2>-->
                <div class="editor-group-2col">
                    <div class="line-group">
                        <label for="loading-bar-bar-bgcolor">Bar color: (aca va color picker)</label>
                        <input type="text" id="loading-bar-bar-bgcolor" value="" >
                    </div>
                    <div class="line-group">
                        <label for="logo-skill-zorder">Bar alpha:</label>
                        <input type="number" id="logo-skill-zorder" value="" >
                    </div>
                </div>
            </div>
        </div>

        <div class="layer-top looping none">
            looping
        </div>
    </div>
</div>