<div class="top-avatar-and-titles-skill-editor">    
        <div class="skill-tabs">
            <nav class="menuTabs">
                <ul>
                    <li class="generalAvatarTab selected" data-content="generalAvatarContent">General</li>
                    <li class="avatarTab" data-content="avatarContent">Avatar</li>
                    <li class="titlesAvatarTab" data-content="titlesAvatarContent">Titles</li>
                    <li class="backgroundAvatarTab" data-content="backgroundAvatarContent">Background</li>
                </ul>                
            </nav>

            <div class="tabContent">
                
                    <section id="generalAvatarContent" >
                        <div class="scrollwrapper"> 
                            <div class="modalSeparator">

                                <div class="line-group">
                                    <label for="positionAvSkill">Position</label>

                                    <div>
                                        <div id="positionAvSkill" class="positionAvSkill posSelectors">
                                            <span class="topLeftPos selected" data-align="topleft">top left</span>
                                            <span class="topRightPos" data-align="topright">top right</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="widthAvSkill">Width</label>

                                    <div>
                                        <div class="dropdown  dd-upload" id="avatarWidthDD">
                                            <h2>
                                                <span class="title">Fluid</span><span class="fa fa-caret-down fa-lg right"></span>
                                            </h2>
                                            <ul>
                                                <li data-value="normal">Fluid</li>
                                                <li data-value="bold">Opcion 2</li>
                                            </ul>
                                        </div>

                                        <input type="number" id="widthAvSkill" value="10" min="0" max="200"> 
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="marginLeftAvSkill">Margin Left</label>
                                    <div>
                                        <input type="number" id="marginLeftAvSkill" value="5" min="0" max="200">
                                    </div>
                                </div>
                                <div class="line-group">
                                    <label for="marginRightAvSkill">Margin Right</label>
                                    <div>
                                        <input type="number" id="marginRightAvSkill" value="100" min="0" max="200">
                                    </div>
                                </div>
                                <div class="line-group">
                                    <label for="marginTopAvSkill">Margin Top</label>
                                    <div>
                                        <input type="number" id="marginTopAvSkill" value="100" min="0" max="200">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section id="avatarContent" class="none">
                        <div class="scrollwrapper"> 
                            <div class="modalSeparator">

                                <div class="line-group">
                                    <label>Show Avatar</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchShowAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchShowAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label>Show Username</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchShowUserNameAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchShowUserNameAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="avAlignmentAvSkill">Avatar alignment</label>

                                    <div>
                                        <div id="avAlignmentAvSkill" class="positionAvatarSkill posSelectors">
                                            <span class="leftPos selected" data-align="left">left</span>
                                            <span class="rightPos" data-align="right">right</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="aMarginAvSkill">Margin Right</label>
                                    <div>
                                        <input type="number" id="aMarginAvSkill" value="1" min="0" max="100">
                                    </div>
                                </div>

                            </div>   
                        </div>
                    </section>

                    <section id="titlesAvatarContent" class="none">
                        <div class="scrollwrapper"> 
                            <div class="modalSeparator">
                               <div class="line-group">
                                    <label>Show Tour Title</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchShowTourTitleAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchShowTourTitleAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label>Show Scene Title</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchShowSceneTitleAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchShowSceneTitleAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="textAlignAvSkill">Text Align</label>

                                    <div>
                                        <div id="textAlignAvSkill" class="positionAvatarSkill posSelectors">
                                            <span class="leftPos selected" data-align="left">left</span>
                                            <span class="rightPos" data-align="right">right</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="aMarginAvSkill">Margin Right</label>
                                    <div>
                                        <input id="aMarginAvSkill" class="colorpicker" value="color picker">
                                    </div>
                                </div>
                            </div>

                            <div class="modalSeparator">
                                <div class="line-group">
                                    <label>Text padding</label>

                                    <div id="textpaddingAvSkill">
                                        <div class="sup" >
                                            <label for="txtPaddingTopAvSkill">Top</label><input type="number" id="txtPaddingTopAvSkill" value="20" min="0" max="200"> 
                                        </div>

                                        <div class="sup">
                                            <label for="txtPaddingRightAvSkill">Right</label><input type="number" id="txtPaddingRightAvSkill" value="20" min="0" max="200"> 
                                        </div>

                                        <div class="sup">
                                            <label for="txtPaddingBottomAvSkill">Bottom</label><input type="number" id="txtPaddingBottomAvSkill" value="20" min="0" max="200"> 
                                        </div>

                                        <div class="sup">
                                            <label for="txtPaddingLeftAvSkill">Left</label><input type="number" id="txtPaddingLeftAvSkill" value="100" min="0" max="200"> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modalSeparator">

                                <div class="line-group">
                                    <label for="textShadowAvSkill">Text Shadow</label>
                                    <div>
                                        <input type="number" id="textShadowAvSkill" value="1" min="0" max="100">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="shadowsAlphaAvSkill">Shadow Alpha</label>
                                    <div>
                                        <input type="number" id="shadowsAlphaAvSkill" value="10" min="0" max="100">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="shadowRangeAvSkill">Shadow Range</label>
                                    <div>
                                        <input type="number" id="shadowRangeAvSkill" value="5" min="0" max="100">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="shadowAngleAvSkill">Shadow Angle</label>
                                    <div>
                                        <input id="shadowAngleAvSkill" class="colorpicker" value="color picker">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section id="backgroundAvatarContent" class="none">
                        <div class="scrollwrapper"> 
                            <div class="modalSeparator">

                                <div class="line-group">
                                    <label>Background</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchBkgAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchBkgAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="shadowAngleAvSkill">Background Color</label>
                                    <div>
                                        <input id="shadowAngleAvSkill" class="colorpicker" value="color picker">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="bkgAlphaAvSkill">Background Alpha</label>
                                    <div>
                                        <input type="number" id="bkgAlphaAvSkill" value="0.6" min="0" max="1">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="bkgRoundEdgeAvSkill">Round Edge</label>
                                    <div>
                                        <input type="number" id="bkgRoundEdgeAvSkill" value="0" min="0" max="30">
                                    </div>
                                </div>

                            </div>

                            <div class="modalSeparator">

                                <div class="line-group">
                                    <label>Border</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitchBkgBorderAvSkill" checked >
                                        <label class="onoffswitch-label" for="onoffswitchBkgBorderAvSkill">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch fa fa-bars fa-lg"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="bkgBorderColorAvSkill">Border Color</label>
                                    <div>
                                        <input id="shadowAngleAvSkill" class="colorpicker" value="color picker">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="bkgBorderAlphaAvSkill">Border Alpha</label>
                                    <div>
                                        <input type="number" id="bkgBorderAlphaAvSkill" value="1" min="0" max="1">
                                    </div>
                                </div>

                                <div class="line-group">
                                    <label for="bkgBorderWidthAvSkill">Border Width</label>
                                    <div>
                                        <input type="number" id="bkgBorderWidthAvSkill" value="1" min="0" max="30">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
            </div>
        </div>

    <footer>
    </footer>
</div>