<div id="skinCustomizer-menu" class="submenu land-submenu">
	<div class="inner">
		<header>
			<h2>Skin Costumizer:</h2>
			<span class="fa fa-save right"></span>
			<span class="fa fa-folder-open right"></span>
		</header>
		<ul>
			<li class="hotspotstyles">
				<h3></span>Hotspots styles: <span class="help fa fa-question-circle left"></span><span class="fa fa-caret-down fa-lg right"></span></h3>
				<div class="sub-items">
					<div class="row">	
						<table class="default">
							<tr>
								<td><div style="background-position:0 0"></div></td>
								<td><div style="background-position:-32px 0"></div></td>
								<td><div style="background-position:-64px 0"></div></td>
								<td><div style="background-position:-96px 0"></div></td>
								<td><div style="background-position:-128px 0"></div></td>
							</tr>
							<tr>
								<td><div style="background-position:0 -32px"></div></td>
								<td><div style="background-position:-32px -32px"></div></td>
								<td><div style="background-position:-64px -32px"></div></td>
								<td><div style="background-position:-96px -32px"></div></td>
								<td><div style="background-position:-128px -32px"></div></td>
							</tr>
							<tr>
								<td><div style="background-position:0 -64px"></div></td>
								<td><div style="background-position:-32px -64px"></div></td>
								<td><div style="background-position:-64px -64px"></div></td>
								<td><div style="background-position:-96px -64px"></div></td>
								<td><div style="background-position:-128px -64px"></div></td>
							</tr>
						</table>
						<span class="fa fa-close fa-1x"></span>
					</div>
					<span class="add-link"><i class="fa fa-plus"></i> Add new hotspots style</span>
				</div>

				
			</li>
		</ul>
		<span class="add-link"><i class="fa fa-plus"></i> Add a skill</span>
	</div>
</div>