aside{
    width: 50px;
    background: $dark-gray;
    height: 100%;
    @include absolute(0, 0, initial, initial);
    display: none;

    ul.main-menu{
        position: relative;
        top: $topSideBar;
        overflow: auto;

        li{
            @extend %button-gray;
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
            text-align: center;
            line-height: 40px;
            margin-left: 4px;

            &:hover{
                @extend %button-gray-hover;
            }

            &#hotSpots{
                background: $blue;

                &:hover{
                    @include linear-gradient(#60bce9, #449fe0);
                }

                &.selected{
                    background: #51ace4;
                }
            }

            &.selected{
                    -webkit-box-shadow: inset 10px 10px 9px -5px $black-transparent-75;
                    -moz-box-shadow: inset 10px 10px 9px -5px $black-transparent-75;
                    box-shadow: inset 10px 10px 9px -5px $black-transparent-75;
                }
        }
    }

    .submenu{
        @include absolute(initial, 50px, initial, initial);
        display: none;
        color: #FFF;
        background-color: $black-transparent-80;

        input, textarea{
            @extend %form-text;
        }

        label,h3{
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.4rem;
            display: block;
        }

        span.friendlyURL{
            display: inline-block;
            font-size: 1.1rem;
            padding-right: 0;
        }

        input.friendlyURL{
            width: 93px;
        }

        textarea{
            width: 290px;
            font-size: 1.4rem;
            padding: 9px;  
        }


        .map{
            float:  left;
        }

        span.check{
            display: block;
            float: left;
            clear: left;
        }

        span.help{
            color: white;
            margin-left: 4px;
        }

        .geoMap{
        margin-top: 15px;

            label{
                width: 50px;
            }
            
            .double-inputs {
                display: inline-block;

                input{
                    width: 110px;
                    padding: 7px;
                }
            }
        }

        .location{
                margin-bottom: 1px;
                left: 0 !important;
                width: 300px;
            }

        .gmnoprint{
                margin-top: 40px !important;
            }

    }

    .land-submenu{
        top: 0;
        height: 100%;
        width: 350px;

        .inner{
            margin-top: $topSideBar;
            padding: 10px 20px;
            overflow: auto;

            header {
                h2 {
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
        }

    }   

  
    #hotSpots-menu{
			top: $topSideBar;
			width: 350px;

		#hotspots-menu-header{
			height: 60px;
			background: $blue;
			color: #FFF;

			h2{
				font-size: 1.0rem;
				text-align: center;
				margin-top: 5px;
			}

			ul{
				margin: 6px;
                overflow: auto;
                float: left;

				li{
					border: 1px solid;
					width: 47px;
					height: 47px;
					position: relative;
					text-align: center;
					margin-right: 8px;
					float: left;
					cursor: pointer;

                    &:last-child {
                        margin: 0;
                    }

					&:hover{
						background: $blue3;

                        div {
                            background-color: $blue3;
                        }

						span{
							background: $blue3;
						}
					}

					.icons{
						height: 50px;
						margin: -2px 0 0 7px;
						/*position: relative;
						top: 2px;
                        left: 7px;*/
						width: 32px;
                        background-color: $blue;
                        /*background: url("../images/icons/hotspots.png") 2px 12px no-repeat $blue;*/

                        div {
                            width: 32px;
                            height: 32px;
                            display: inline-block;
                            margin-top: 10px;
                        }
					} 

                    /*&#info {
                        div {
                            background-position: -30px 12px;
                        }
                    }
                    &#photo {
                        div {
                            background-position: -62px 12px;
                        }
                    }
                    &#video {
                        div {
                            background-position: -94px 12px;
                        }
                    }
                    &#link {
                        div {
                            background-position: -126px 12px;
                        }
                    }*/

					&.selected{
						font-size:10rem;
					}
				}
			}

            #open-styles {
                float: left;
                width: 60px;
                height: 100%;
                padding-top: 15px;
                background: $blue2;
                @include border-box;
                text-align: center;
                text-transform: uppercase; 
                font-size: 1rem;
                border-left: 1px solid $blue3;
                cursor: pointer;

                .arrow{
                    /*@include absolute(-15px, 15px, initial, initial);*/
                    display: inline-block;
                    margin: 7px;
                    @include arrow(8px, 8px, 0, 8px, #fff);
                }
            }
		}
		#hotspot-styles{
			display: none;
            clear: both;

            h2{
                margin-top: 15px;
                text-align: center;
            }

			.selector{
				clear: left;
				float: left;
                margin: 17px;
			}
			
			.rows{
                overflow: auto;
				.row{
					float: left;
					width: 46px;
					height: 46px;
					background: $middle-gray;
					margin-right: 5px;
					margin-bottom: 10px;
                    border: 1px solid black;
                    @include shadow-white(1px, 0, 0.2, inset);
					
					.rowinrow{
						width: 32px;
						height: 32px;
						margin-left: 7px;
						margin-top: 7px;						
					}
				}
			}

            .add-link {
                display: block;
                text-align: center;
                margin: 10px 20px 20px;
                cursor: pointer;
            }						
		}
	}

    #viewSettings-menu{
        top: $topSideBar + 46px;
        width: 285px;

        header{
            background: $purple;
            padding: 15px;
            font-size: 1.4rem;

            h2{
                margin-bottom: 10px;
            }

            /*h2,dl,dt,dd{
                float: left;
            }*/

            dd{
                padding-right: 5px;
            }
        }

        section{
            padding: 20px 16px;
        }

        section{
            h2{
                margin-bottom: 15px;
                margin-top: 5px;
                font-size: 1.4rem;
            }

            input{
                margin-right: 2px;
            }

            .input-row {
                input {
                    @include absolute(0, 18px, initial, initial)
                }

                span {
                    @include absolute(5px, 0, initial, initial);
                    font-size: 1.4rem;
                }
            }

            
        }

        h2{
            font-weight: bold;
        }

        input{
            width: 38px;
            padding: 2px;
            margin-bottom: 0;
        }

        label{
            font-weight: normal;
            font-size: 1.2rem;
            display: inline-block;
            margin-top: 6px;
        }

    }


    #sceneSettings-menu{
        
    
        label[for="scenetitle"]{
            font-size: 1.8rem;
            display: block;
            margin-bottom: 5px;
        }



        label[for="friendlyURL"] {

            sub{
                font-size: 1rem;
                font-weight: normal;
            }
        }

        label[for="filename"]{
            line-height: 15px;
            padding-right: 2px;
            display: inline;
        }

        #filename{
            clear: none;
            background: none;
            border: none;
            padding-left: 2px;
        }
        
        #scenetitle, #mapscene{
            padding: 14px;
            width: 280px;
        }

        figure{
            width: 170px;
            height: 80px;
            border: 1px solid #000;
            margin-bottom: 30px;
            position: relative;
        
            img{
                opacity: 0.5;
                max-width: 100%;
            }
            
            figcaption{
                @include absolute(35px, initial, initial, initial);
                width: 100%;
                text-align: center;
            }
        }


        input{
            height: 30px;
            padding: 0 4px;

        }

        #scenetitle{
            font-size: 1.6rem;
            height: 10px;
        }

        #mapscene{
            font-size: 1.4rem;
        }

        .editor-img{
            .inner-dragger {
                h2 {
                    font-size: 1.2em;
                }

                h3 {
                    font-size: 1em;
                }
            }
        }
    }

    #virtualTourSettings-menu{
        li{
            background: rgba(0,0,0,0.5);
            border: 1px solid $light-gray;
            margin-bottom: 20px;
            padding: 0 15px;

            h2{
                font-size: 1.4rem;
                margin-bottom: 20px;
                line-height: 18px;
            }

            h3{
                height: 30px;
                padding: 4px 10px 10px 0;
                line-height: 40px;
                cursor: pointer;

                .leftish{
                    margin-right: 10px;
                }

                .right{
                    margin-top: 8px;
                    margin-top: 15px;
                    margin-right: -10px;
                }
            }

            .sub-items{
                display: none;
                margin-bottom: 20px;
                padding-top: 10px;

                label{
                    font-weight: normal;

                    &.onoffswitch-label{
                       width: auto;
                    }   
                }

                & > input, & > select{
                    @extend %fullWidthElement;
                    padding: 5px; 
                }

                input.friendlyURL{
                    width: 58px;
                }

                textarea{
                    @extend %fullWidthElement;
                    font-size: 1.2rem;
                }

                .map-wrapper{
                }

                li{
                    border: none;
                    background: none;
                    width: auto;
                }
            
                &.short{
                    label{
                        width: 240px;

                        &.onoffswitch-label{
                          width: auto !important;
                        }
                    }
                    input{
                        width: 38px;
                        padding: 4px 2px;
                    }
                }
            
                label[for="mouseType"]{
                    width: 205px;
                }

                label[for="move-to-horizon"],label[for="move-to-fov"]{          
                    width: 180px;
                }

                #move-to-horizon, #move-to-fov{
                    margin-left: 14px;
                }

                #friendlyURLTour{
                    width: 80px;
                }

                .dropdown{
                    h2{
                        font-size: 1.2rem;
                    }

                    li{
                        @extend %fullWidthElement;
                        margin-bottom: 0;
                        padding: 0;
                        border: 1px solid $middle-gray;
                        height: 30px;
                        line-height: 30px;

                        span{
                            padding: 10px;
                        }

                        &:hover{
                            background: $light-gray;
                            color: #000;
                        }
                    }
                }
            }

            .check-group, .checkboxes{
                margin-bottom: 30px;

                li{
                    font-size: 1.3rem;
                    padding-left: 0;
                    cursor: pointer;
                    line-height: 1.8rem;

                    span{
                        margin-right: 7px;
                        color: $light-gray;
                    }
                }
            }   

            &.location-submenu{
                span.help{
                    display: block;
                    float: left;
                    height: 40px;
                }
            }   
            
            &.general-settings{
                .dropdown{
                    @extend %fullWidthElement;
                }
            }
        }   

        .input-row {
            & > label {
                padding-top: 5px;
            }
        }

        .mouse-control-settings{
            .input-row{
                height: 30px;
                margin-bottom: 10px;
            }
        }

        .autorotate-settings{
            .input-row{
                height: 26px;
                margin-bottom: 10px;
            }
        }
    }


    #skinCustomizer-menu{
        header{
            margin-bottom: 20px;

            h2{             
                font-size: 1.8rem;
                font-weight: bold;
                margin-bottom: 0;

                span {

                }
            }

            .fa-save{
                /*margin-right: 15px;*/
            }
        }        

        .hotspotstyles{
            .left{
                margin-left: 20px;
            }

            .rows{

                .row{
                    float: left;
                    width: 44px;
                    height: 44px;
                    background: $light-gray;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    
                    .rowinrow{
                        width: 32px;
                        height: 32px;
                        margin-left: 5px;
                        margin-top: 5px;                        
                    }
                }
            }                        
        }

        .add-link{
            font-weight: bold;
            font-size: 1.4rem;
            padding-top: 10px;
            display: block;
            clear: left;
            cursor: pointer;
        }

        .skill-list {
            li {                
                height: 20px;
                position: relative;
                
                h3{
                    display: inline-block;
                    margin: 3px 0 0;
                }

                div {
                    margin: 1px;                   

                    .customizelink{
                        /*@include absolute(5px, 35px, initial, initial);*/
                        color: $green2;
                        padding: 7px;
                        background-color: $dark-gray-2;
                        border: 1px solid black;
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;

                        .fa-pencil-square-o {
                            font-size: 1.2em;
                            margin-right: 2px;
                            vertical-align: middle;
                        }
                    }

                    .fa-close{
                        margin-left: 10px;
                        font-size: 1.3em;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .gm-style .gm-style-iw{
        color: #222;
    }

    .map_canvas {
        height: 265px;
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }

    #setStartUpView{
        width: 100px;
        height: 40px;
        position: fixed;
        z-index: 2;
        background: $purple;
        left: 50%;
        margin-left: -50px;
        top: 100px;
        text-align: center;
        color: #FFF;
        font-size: 2.0rem;
        cursor: pointer;

        .fa{
            height: 25px;
            margin-top: -1px;
            margin-left: 5px;
            padding-top: 5px;
            display: block;
            width: 80px;
            background: $purple;
        }

        &:after{
            @include absolute(initial, initial, -35px, 50%);
            display: block;
            content: "";
            border-color: $purple transparent transparent transparent;
            border-style: solid;
            border-width: 20px;
            height: 0;
            width: 0;
            margin-left: -20px; 
        }

        &:hover{                    
            .innerstarup{
                .fa{
                    display:none;
                }

                &:before{
                    content: "SET AS STARTUP VIEW";
                    font-size: 1.1rem;
                    @include absolute(4px, initial, initial, 10px);
                    background: $purple;
                    width: 75px;
                    padding: 2px 2px;
                    height:27px;
                }
            }
        }

        .innerstarup{
            border: 1px solid #FFF;
            height: 27px;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }   
    }

    #startupViewUpdated{
         width: 200px;
        position: fixed;
        z-index: 2;
        background: $yellow;
        left: 50%;
        margin-left: -100px;
        top: 180px;
        text-align: center;
        color: #999;
        font-size: 1.3rem;
        display:none;
        font-weight:bold;
        color:#453900;
        height:30px;
        line-height:30px;
        border:1px solid;
        border-radius:5px;
    }
}