section.main-section { 
	position: relative;

	.inner{
		overflow: auto;
	
		&.withTour{
			overflow: hidden;
			position: relative;
			margin-right: 50px;

			#setStartUpView{
				width: 100px;
				height: 35px;
				position: fixed;
				z-index: 2;
				background: $purple;
				left: 50%;
				margin-left: -50px;
				top: 50px;
				text-align: center;
				color: #FFF;
				font-size: 2.0rem;
				cursor: pointer;

				.fa{
				    height: 22px;
				    margin-top: -1px;
				    display: block;
				    width: 80px;
				    margin-left: 5px;
				    background: $purple;
				}

				&:after{
					position: absolute;
					display: block;
					content: "";
					border-color: $purple transparent transparent transparent;
					border-style: solid;
					border-width: 20px;
					height: 0;
					width: 0;
					bottom: -35px;
					left: 50%;
					margin-left: -20px;	
				}

				&:hover{					
					.innerstarup{
						.fa{
							display:none;
						}

						&:before{
							content: "SET AS STARTUP VIEW";
							font-size: 1.1rem;
							position: absolute;
							heigth: 2px;
							background: $purple;
							top: 4px;
							left: 10px;
							width: 75px;
							padding: 2px 2px;
						}
					}
				}

				.innerstarup{
					border: 1px solid #FFF;
					height: 20px;
					margin-top: 5px;
					margin-left: 5px;
					margin-right: 5px;
				}	
			}
		}
	}
}



.overlay-drag{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}

.dragger-wrapper{
	position: absolute;
	z-index: 20;
	top: -550px;
	left: 50%;
	width: 550px;
	margin: 90px auto;

	.inner-dragger{
		border: dashed-pano(4px,$light-gray);
		background: $dark-gray;		
		color: #FFF;
		text-align: center;
		position: relative;
		left: -50%;
		
		
		.dragable{
			padding: 100px;
		}

		input, .dropdown{
			background: $light-gray;
			border: 1px solid #000;
		}

		.fa-cloud-upload{
			font-size: 6rem;
			text-align: center;
			display: block;
		}

		h2{
			font-size: 1.6rem;
			font-weight: bold;
		}

		h3{
			font-size: 1.5rem;
			font-style: italic;
		}

		label{
			font-weight: bold;
			padding-top: 40px;
			display: block;
			font-size: 1.4rem;
		}

		#panos-format{
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 175px;
			margin-top: 4px;

			h2{
				font-size: 1.2rem;
			}
		}

		.tile-size{
			margin-top: 10px;
		}

		input{
			width: 40px;
			color: #FFF;
			padding: 5px;
			font-size: 1.1rem;
		}

		p{
			color: $light-gray;
			margin-top: 40px;
		}

		.pano-item-wrapper{
			padding-bottom: 10px;
		}

		.pano-item{
			border: 1px solid #000;
			background: $middle-gray;
			padding: 15px;
			height: 50px;
			width: 500px;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			
			.thumb{
				width: 100px;
				float: left;
			}

			.left-uploader{
				float: left;
				width: 220px;

				h3{
					float: left;
					padding-left: 10px;
				}

				.progress-wrapper{
					background: $dark-gray;
					width: 200px;
					height: 10px;
					float: left;
					border-radius: 15px;
					margin-left: 8px;
					margin-top: 25px;
					position: relative;

					.progress{
						height: 10px;
						border-radius: 30px;
						background: #397999;
					}

					.percentage{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
					}
				}
			}

			.right-uploader{
				float: right;
			
				.icon-msg{
					background: #444;
					width: 70px;
					height: 20px;
					border-radius: 5px;
					padding: 3px;
					position: absolute;
					top: 27px;
					right: 30px
				}	
			}

			.fa-close{
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}

		.uploader-footer{
			background: #111;
			width: 100%;
			height: 40px;
			padding-top: 10px;

			p{
				margin-top: 0;
				text-transform: uppercase;
				color: #FFF;
				width: 430px;
				text-align: right;
				line-height: 30px;
				float: left;
			}

			.fa-clock-o{
				float: right;
				top: 5px;
				height: 20px;
				color: #FFF;
				position: relative;
				font-size: 15px;
				width: 110px;
				background: #333;
				border-radius: 7px;
				margin-right: 5px;
				line-height: 20px;
			}

			.save{
				background: #497f3c;
				font-size: 1.2rem;
				font-family: "Open Sans",sans-serif;
				cursor: pointer;

				&:before{
					content: "";
				}
			}
		}

		&.scaling{
			top: 40px !important;
		}
	}
}

#tour{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}						