.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 101;
    display: none;


/** General modal styles **/
    .modal{
        width: 500px;
        background: $dark-gray3;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000;
        margin-top: 30px;
        color: #FFF;

        &#alert{
            margin-top: 20%;
        }

        header{
            background: $dark-gray5;
            padding: 20px;
            position: relative;

            h2{
                font-size: 1.6rem;
                margin-bottom: 0;
            }

            .fa-close{
                @include absolute(20px, 20px, initial, initial);
                font-size: 1.8rem;
                cursor: pointer;
            }
        }

        .inner-modal{
            padding: 20px;
            position: relative;            

            .alert-wrapper{
                padding: 10px; 
                overflow: hidden;

                .fa-close{
                    @include absolute(10px, 10px, initial, initial);
                    cursor: pointer;
                    font-size: 1.4rem;
                }

                p{
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-bottom: 35px;
                    text-align: center;
                }                               
            }
        }

        input, textarea{
            @extend %form-text;
            padding: 8px;
            margin-bottom: auto;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
            min-height: 20px;
            background-color: $dark-gray5;
            border: 1px solid black;
        }

        textarea{
            font-size: 1.2rem;
        }

        .removeHotspot{
            background: rgba(0,0,0,0.8);
            clear: both;
            border-top: 1px solid $middle-gray;
            text-align: center;
            text-transform: uppercase;
            height: 20px;
            font-size: 1rem;

            span{
                font-size: 1.6rem;
                margin-right: 10px;
            }
        }  
        
        .skills{
            height: 350px;
            /*overflow: auto;*/

            .loading{
                margin: 20px 0;
            }

            h2 {
                font-weight: bold;
                font-size: 1.6rem;
                margin-bottom: 7px;
            }
        }

        #skill-search-results {
            /*position: absolute;*/
            float: left;

            dl {
                padding: 10px;
                box-sizing: border-box;
                background-color: black;                
                border-top: 1px solid $middle-gray;  

                dt {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 2px;
                }

                dd {
                    color: $light-gray3;
                    line-height: 1.2em;
                }              
            }

            .ui-state-focus dl {
                background-color: $middle-gray;
            }
        }

        .single-input-group {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            label {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 5px;
                display: inline-block;
            }
        }
        
        .editor-group-2col {
            position: relative;
            margin-bottom: 20px;

            label, input { 
                
            }

            label {
                font-size: 1.2em;
                font-weight: bold;
                padding-top: 8px;
                display: block;
            }

            input {
                width: 55px;
                padding: 8px 4px;
                font-size: 1.3rem;
            }

            .line-group{
                min-height: 32px;
                position: relative;
                margin-bottom: 5px;

                input{
                    @include absolute(0,initial,initial, 60%);
                }
            }

            .logo-skill-position{
                padding-top: 15px;
                margin-bottom: 30px;
            }            
        }
    }
/** End general modal **/


    &.hotspotwindow{
        background-color: transparent;
        width: 0px;
        height: 0px;
        top: 60px;
        left: 20px;

        header{
            height: 15px;
            margin-left: 0;
            margin-top: 0;
            border-bottom: 2px solid #333;
            background: rgba(0,0,0,0.9);
            cursor: all-scroll;

            .fa-close{
                width: 100px;

                &:before{
                    content: "Save and Close";
                    font-family: $font;
                    font-size: 1.2rem;
                    float: right;
                }
            }
        }

        .modal{
            width: 320px;
            background: none;
            border-color: #333;

            &.arrow-hotspot{
                width: 405px;
            }
            .inner-modal{
                background: rgba(0,0,0,0.5);
                
                .dropdown{
                    width: 192px;
                    margin: 25px 0px 10px 0;
                    background: #000;

                    h2{
                        padding: 7px;
                    }
                    ul{
                        top: 22px;
                    }

                &.style{
                        width: 70px;
                        float: left;
                        margin: 0;

                        h2, li{
                        height: 32px;
                        }

                        h2{
                            min-width: 55px;
                        }

                        ul{
                            top: 45px;
                        }
                    }   
                }
    
                figure{
                    position: relative;
                    margin-bottom: 10px;
                    width: 180px;
                    height: 100px;

                    img{
                        opacity: 0.5;
                    }

                    figcaption{
                        position: absolute;
                        top: 50px;
                        left: 0px;
                        width: 100%;
                        text-align: center;
                    }

                }
                #urllinkhotspot{
                    width: 147px;
                    position: absolute;
                }

                label[for="urlvideohotspot"]{
                    margin-bottom: 10px;
                    display: block;
                }

                label[for="urllinkhotspot"]{
                    line-height: 20px;
                }


                label[for="style"]{
                    float: left;
                    line-height: 30px;
                }

                label[for="rotate"]{
                    float: left;
                    clear: left;
                }

                textarea{
                    height: 140px;
                }

                #rotate{
                    width: 50px;
                    float: left;
                }

                p{
                    clear: left;
                }
            }

            .inner-modal>div{
                padding: 10px 20px 10px 10px;
            }

            .default{
                width: 32px;
                height: 32px;
                float: left;
            }
        }

        .hotspot-column{
            width: 185px;
            float: left;
            height: 100%;
            padding-bottom: 20px;
        }   
    }

    &.skillWindow{
        background-color: transparent;
        width: 0px;
        height: 0px;
    }

    .skillModal {
        background-color: $black-transparent-65;
        width: 400px;
        position:fixed !important;
        left:50%;
        margin-left:-200px;

        .inner-modal {
            padding: 30px;
        }

        header {
            .fa-close{
                display: none;
            }
        }

        footer {
            overflow: auto;
            padding-top: 10px;
        }

        .save-and-close{
            @include absolute(-44px, 20px,initial, initial);
        }

        .scrollwrapper{
            height: 350px;
            overflow: auto;
            margin-right: -15px;
            padding-right: 15px;
        }

        h2 {
            font-size: 1.3em;
            line-height: 1.3em;
        }

        h3 {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
    /* editores */
        .skill-editor-wrapper{
            overflow: visible;

            fieldset {
                margin-bottom: 10px;
                background-color: $dark-gray4;
                border: 1px solid #000;
                padding: 10px;
                position: relative;

                h2{
                    text-align: center;
                    line-height: 1.3em;
                }

                &:first-child{
                    .close {
                        display: none;
                    }
                }

                .close {
                    cursor: pointer;
                    padding: 5px;
                    font-size: 1.4rem;
                    @include absolute(5px, 5px, initial, initial);
                }                
            }            
        }

        .logo-skill-editor {            
            
        }
    }

    #panoManager{
        width: 650px;
        border: 4px dashed #535353;

        header {
            h2 {
                text-transform: uppercase;                
            }
        }
        .pano-manager {

            .header {
                height: 27px;
                padding-bottom: 15px;

                h2, label {
                    display: inline-block;
                    margin-right: 7px;
                    font-size: 1.3em;
                    margin-bottom: 0;
                    margin-top: 4px;
                    font-weight: bold;
                    float: left;
                }

                .sort-by{
                    margin-right: 27px;
                }

                .search-pano{
                    input{
                        width: 220px;
                        float: left;
                        background-color: $middle-gray;
                        border: 1px solid #000;
                        height: 26px;
                    }

                    .clear-btn{
                        text-transform: uppercase;
                        color: $yellow;
                        cursor: pointer;
                    }
                }
            }

            .pano-list{
                clear: both;  

                .scrollwrapper{
                    max-height: 250px;
                }             

                ul {
                    li {
                        border: 1px solid black;
                        background-color: #2b2b2b;
                        padding: 15px;
                        margin-bottom: 10px;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100px;
                            height: 50px;
                            float: left;
                        }

                        .pano-data{
                            float: left;
                            margin-left: 15px;
                        }

                        .modal-bt{
                            @include absolute(25px,15px,initial,initial);
                        }
                    }
                }
            }

            footer{
                margin: 0 -20px -20px;
                background-color: $dark-gray4;
                border-top: 1px solid black;

                ul {
                    overflow: hidden;
                    padding: 10px;

                    li {
                        float: left;
                        position: relative;
                        margin-right: 5px;

                        &:last-child{
                            margin-right: 0; 
                        }

                        img {
                            width: 100px;
                            height: 50px;
                        }
                        span{
                            @include absolute(3px,3px,initial,initial);
                            cursor: pointer;
                            padding: 2px;
                        }
                    }
                }
                .btns{
                    height: 30px;
                    background-color: $dark-gray5;
                    overflow: hidden;
                    padding: 5px;
                    font-size: .75em;
                }
            }
        }
    }

    #mapModal{
        width: 650px; 
        
        .map-wrapper{
            label{
                margin-bottom: 10px;
                display: block;
            }

            .map_canvas{
                width: 100%;
                height: 350px;

                input {
                    width: 75%;
                    margin-top: 5px;
                }
            }

            .geoMap{
                margin-top: 15px;
            }
        }
    }
}
