.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 101;
    display: none;

    .modal{
        width: 500px;
        background: $dark-gray3;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000;
        margin-top: 30px;
        color: #FFF;

        &#alert{
            margin-top: 20%;
        }

        header{
            background: $dark-gray5;
            padding: 20px;
            position: relative;

            h2{
                font-size: 1.6rem;
                margin-bottom: 0;
            }

            .fa-close{
                @include absolute(20px, 20px, initial, initial);
                font-size: 1.8rem;
                cursor: pointer;
            }
        }

        .inner-modal{
            padding: 20px;
            position: relative;            

            .alert-wrapper{
                padding: 10px; 
                overflow: hidden;

                .fa-close{
                    @include absolute(10px, 10px, initial, initial);
                    cursor: pointer;
                    font-size: 1.4rem;
                }

                p{
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-bottom: 35px;
                    text-align: center;
                }                               
            }
        }

        a.modal-bt{
            float: right;
            display: inline-block;
            border: 1px solid #000;
            min-width: 40px;
            text-align: center;
            padding: 8px 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: bold;
        
            &.green{
                color: $green2;
            }
        }

        input, textarea{
            @extend %form-text;
            padding: 8px;
            margin-bottom: auto;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
            min-height: 20px;
            background-color: $dark-gray5;
            border: 1px solid black;
        }

        textarea{
            font-size: 1.2rem;
        }

        .removeHotspot{
            background: rgba(0,0,0,0.8);
            clear: both;
            border-top: 1px solid $middle-gray;
            text-align: center;
            text-transform: uppercase;
            height: 20px;
            font-size: 1rem;

            span{
                font-size: 1.6rem;
                margin-right: 10px;
            }
        }  
        
        .skills{
            h2 {
                font-weight: bold;
                font-size: 1.6rem;
                margin-bottom: 7px;
            }
        }
    }

    &.hotspotwindow{
        background-color: transparent;
        width: 0px;
        height: 0px;
        top: 60px;
        left: 20px;

        header{
            height: 15px;
            margin-left: 0;
            margin-top: 0;
            border-bottom: 2px solid #333;
            background: rgba(0,0,0,0.9);
            cursor: all-scroll;

            .fa-close{
                width: 100px;

                &:before{
                    content: "Save and Close";
                    font-family: $font;
                    font-size: 1.2rem;
                    float: right;
                }
            }
        }

        .modal{
            width: 320px;
            background: none;
            border-color: #333;

            &.arrow-hotspot{
                width: 405px;
            }
            .inner-modal{
                background: rgba(0,0,0,0.5);
                
                .dropdown{
                    width: 192px;
                    margin: 25px 0px 10px 0;
                    background: #000;

                    h2{
                        padding: 7px;
                    }
                    ul{
                        top: 22px;
                    }

                &.style{
                        width: 70px;
                        float: left;
                        margin: 0;

                        h2, li{
                        height: 32px;
                        }

                        h2{
                            min-width: 55px;
                        }

                        ul{
                            top: 45px;
                        }
                    }   
                }
    
                figure{
                    position: relative;
                    margin-bottom: 10px;
                    width: 180px;
                    height: 100px;

                    img{
                        opacity: 0.5;
                    }

                    figcaption{
                        position: absolute;
                        top: 50px;
                        left: 0px;
                        width: 100%;
                        text-align: center;
                    }

                }
                #urllinkhotspot{
                    width: 147px;
                    position: absolute;
                }

                label[for="urlvideohotspot"]{
                    margin-bottom: 10px;
                    display: block;
                }

                label[for="urllinkhotspot"]{
                    line-height: 20px;
                }


                label[for="style"]{
                    float: left;
                    line-height: 30px;
                }

                label[for="rotate"]{
                    float: left;
                    clear: left;
                }

                textarea{
                    height: 140px;
                }

                #rotate{
                    width: 50px;
                    float: left;
                }

                p{
                    clear: left;
                }
            }

            .inner-modal>div{
                padding: 10px 20px 10px 10px;
            }

            .default{
                width: 32px;
                height: 32px;
                float: left;
            }
        }

        .hotspot-column{
            width: 185px;
            float: left;
            height: 100%;
            padding-bottom: 20px;
        }   
    }
}
