$font: 'Open Sans', sans-serif;
/*color*/
$dark-gray:#232323;
$dark-gray-2:#1a1a1a;
$light-gray:#535353;
$middle-gray:#333333;
$lighter-gray:#e0e0e0;
$blue:#4faddf;
$purple:#9259a8;
$green:#497f3c;
$yellow:#fad368;
$light-blue:#51ace4;
$red:#d32f31;