$font: 'Open Sans', sans-serif;
/*color*/
$dark-gray: #232323;
$dark-gray-2: #1a1a1a;
$dark-gray3: #222;
$dark-gray4: #2b2b2b;
$dark-gray5: #111;
$light-gray: #535353;
$lighter-gray: #e0e0e0;
$light-gray2: #ccc;
$light-gray3: #999;
$middle-gray: #333333;
$blue: #4faddf;
$blue2: #3895c7;
$blue3: #097bc1;
$purple: #9259a8;
$green: #497f3c;
$green2: #5c9451;
$yellow: #fad368;
$light-blue: #51ace4;
$red: #d32f31;
$topSideBar: 124px;