<div id="publishController">
	<div id="live">
		<h4>Live</h4>
		<span class="date">05/09/2015</span>
	</div>
	<div id="publish" class="fa fa-arrow-circle-left"></div>
	<div id="draft">
		<h4>Temp.draft</h4>
		<span class="date">12/14/2015</span>
	</div>
	<div class="onoffswitch">
		<input type="checkbox" name="onoffswitchpub" class="onoffswitch-checkbox" id="onoffswitchpub" >
		<label class="onoffswitch-label" for="onoffswitchpub">
			<span class="onoffswitch-inner"></span>
			<span class="onoffswitch-switch fa fa-bars fa-lg"></span>
		</label>
	</div>
</div>